<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|Playfair+Display|Raleway:400,900|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
</head>

<body>

<div class="main">
  <div class="vertical-center">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
<h1>Create an article</h1>

<%= render 'form' %>
</div></div></div></div></div></body>
<div class="footer"> <div id="child">© 2017. Made by Lex.</div></div>
</div>