<h1>This is the home page</h1>
<img src="http://www.hutterites.org/wp-content/uploads/2012/03/placeholder.jpg">
<p>Lorem ipsum dolor sit amet, has et nonumy everti. Per lorem nonumes invidunt ex, qui primis consequuntur ne, te usu habemus definiebas. An petentium splendide eos, eu meis maiestatis argumentum mea. Duo id dicit nihil nostrud, ex eam justo officiis, stet elitr commodo eos ad. Cum ignota assueverit id.
</p>

<%= link_to 'About', about_path %>