<!DOCTYPE html>
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|Playfair+Display|Raleway:400,900|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
</head>

<body>
<div class="main">
  <div class="vertical-center">
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
    <h2>Introducing</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-1">
    <h1>The Alpha Blog</h1>
  </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
    <p>This is my first Ruby on Rails application. Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu massa vestibulum malesuada, integer vivamus elit eu mauris eu, cum eros quis aliquam nisl wisi.
    </p>
    </div></div>
    <br>
     <div class="row">
    <div class="col-md-11 col-md-offset-1">
      
    <%= link_to "Sign Up", "#", class: "button" %> 
    <%= link_to "Login", "#", class: "button-2" %>
    </div></div></div>
<div class="footer"> <div id="child">© 2017. Made by Lex.</div></div>
</div>
</div>

</body>

</html>